/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap'); */
.brdr{
    height: 1px;
    background-color: var(--border-color);
}

.vote {
    background-color:var(--light-bg) ;
}
:root
{
    --bg-main:#131722;
    --light-bg:#24baef;
    --text-color:#fff;
    --border-color:#a8a8a83d;
    /* --main-font: 'Rubik Microbe', cursive; */
}

.bg-mine-light
{
    background-color:  var(--light-bg);
}

body
{
    background-color: var(--bg-main);
    /* font-family: var(--main-font); */
    color: var(--text-color);
}


a,a:hover
{
    color: var(--text-color);
    text-decoration: none;
}

.input-mine
{
    background-color: transparent;
    color: var(--text-color);
    border:solid 1px var(--border-color) ;
}